@page "/"

<div class="container">
    <h1>Welcome to Your Plant Management</h1>
    <div class="content">
        <p>
            Manage your plants, care tasks, species, and tags all in one place.
        </p>
    </div>

</div>
<br />
<div class="container">
    <h5 >Your reminders:</h5>

</div>
